.git
.gitignore
.gitattributes
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
docker-compose.yml
docker-compose.yaml
compose.yaml
Dockerfile
.dockerignore
tests
phpunit.xml
.phpunit.cache
storage/logs/*
.DS_Store
README.md
